


@media only screen and (min-width : 300px) {
  form {
    height: 70vh;
    width: 90%;
    padding-top: 5em;
    text-align: left;
    margin: auto;

    label, textarea, input{
      margin-bottom: 1em;
      -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
      -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
      box-sizing: border-box;
      width: 100%;
    }

  }

  .name {
    input[type=text] {
      padding: 5px;
      font-size: 1.2em;
      margin-right: .5em;

    }

  }

  .email {
    input[type=text] {
      //display: block;
      padding: 5px;
      font-size: 1.2em;
    }
  }


  button {
    height: 2.5em;
    width: 10em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(84, 242, 176);
    /*background-image:
      linear-gradient(
       45deg,
       rgb(84, 242, 176), #3FC380
      );
    */
    border: none;
    border-radius: 5px;
    color: white;
  }

  .message-box {
    font-size: 1.2em;

    textarea {
      width: 100%;
    }
  }

}

@media only screen and (min-width : 768px) {
  form {

    label, textarea, input{
      //width: 50%;
    }

  }

}
