$main: #48dbfb;
$secondary: #222f3e;

@media only screen and (min-width : 300px) {
  .footer {
    width: 100%;
    height: auto;
    //clear: both;
    background-color: #013243;
    text-align: center;

    .footer-container {
      height: auto;
      margin: auto;
      width: 90%;
      //background-color: yellow;
    }

    h3 {
      padding: 1em;
      text-transform: none;
    }

    hr {
      border: none;
      height: .5px;
      width: 80%;
      color: snow;
      background-color: snow;
    }

    .contact-div {
      padding-top: 4em;
      width: 100%;
      margin: auto;

      ul {
        text-align: left;
        display: inline-block;
        font-style: italic;

        li {
          padding: .3em;
        }
      }
    }

    .social-div {
      padding-top: 4em;
      width: 100%;
      margin: auto;
    }

    .footer-nav {
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 4em;
      width: 100%;
      margin: auto;

      ul {
        text-align: left;
        display: inline-block;
      }

    }

    .copyright {
      padding-top: 7em;
      padding-bottom: 1em;
    }

    ul {
      list-style-type: none;

      li {
        padding: 1em;
      }
    }

  }
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .footer {
    text-align: center;

    .footer-container {
      height: auto;
      margin: auto;
      width: 90%;
    }

    hr {
      border: none;
      height: .5px;
      color: snow;
      background-color: snow;
    }

    .contact-div {
      width: 33%;
      float: left;
      height: auto;
      padding-top: .5em;
    }


    .social-div {
      width: 33%;
      float: left;
      height: auto;
      padding-top: .5em;
    }

    .social-container li {
      display: inline;
    }

    .footer-nav {
      text-transform: uppercase;
      font-weight: bold;
      width: 33%;
      height: auto;
      float: left;
      padding-top: .5em;
    }


    .copyright {
      padding-top: 2em;
      padding-bottom: 1em;
      clear: both;

    /*hr {
        width: 80%;
        height: .5px;
        background-color: snow;
      }
      */
    }

    ul {
      list-style-type: none;

      li {
        padding: .4em;
      }
    }

  }
}
