
$main: #48dbfb;
$secondary: #222f3e;

.footer {
  width: 100%;
  height: 50vh;
  //clear: both;
  background-color: $secondary;
  text-align: center;

  ul {
    list-style-type: none;

    li {
      padding: 1em;
    }
  }

}
