
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
//font-family: 'Oswald', sans-serif;
//font-family: 'Roboto', sans-serif;

$main: #48dbfb;
$secondary: #222f3e;

.content {
  width: 90%;
  margin: auto;
}

body {
  background-color: #19B5FE;
  color: snow;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

a {
  color: snow;
  text-decoration: none;

  &:hover {
    color: #feca57;
    text-decoration: underline;
  }
}





















/* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {

   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {

   }

   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {

   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }

   /*==========  Non-Mobile First Method  ==========*/

   /* Large Devices, Wide Screens */
   @media only screen and (max-width : 1200px) {

   }

   /* Medium Devices, Desktops */
   @media only screen and (max-width : 992px) {

   }

   /* Small Devices, Tablets */
   @media only screen and (max-width : 768px) {

   }

   /* Extra Small Devices, Phones */
   @media only screen and (max-width : 480px) {

   }

   /* Custom, iPhone Retina */
   @media only screen and (max-width : 320px) {

   }
