
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

//font-family: 'Oswald', sans-serif;
//font-family: 'Roboto', sans-serif;

$main: #48dbfb;
$secondary: #222f3e;

body {
  background-color: $main;
  color: snow;
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
