
$main: #48dbfb;
$secondary: #222f3e;


@media only screen and (min-width : 300px) {
  .header {
    width: 100%;
  }

  .hamburger {
    position: absolute;
    z-index: 2;
    padding: 1em;
  }

  .menu-div {
    background-color: $secondary;
    text-align: center;
    list-style-type: none;
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3em;
    height: 50vh;
  }


  .nav {
    list-style-type: none;
  }


  hr {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height:.5px;
    color: snow;
    background-color: snow;
  }

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .hamburger {
    display: none;
  }

  .menu-div {
    display: block;
    background-color: $secondary;
    text-align: center;
    list-style-type: none;
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3em;
    height: 50vh;
  }
}
