
$main: #48dbfb;
$secondary: #222f3e;


@media only screen and (min-width : 300px) {
  .header {
    width: 100%;
  }

  .mobile-header {
    width: 100%;
    height: 4em;
    display: block;
    background-color: $secondary;
    position: fixed;
  }

  .logo-container {
    display: none;
  }

  .full-width-header {
    display: none;
  }

  .hamburger {
    position: absolute;
    z-index: 2;
    margin: .5em;
    border: .5px solid snow;
    height: 3em;
    //background-color: red;

    span {
      //background-color: green;
      margin: .5em;
      font-size: 1em;
      line-height: 3em;
      text-transform: uppercase;
    }
  }

  .menu-div {
    background-color: #013243;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3em;
    height: 50vh;
  }


  .nav {
    list-style-type: none;
  }


  hr {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height:.5px;
    color: snow;
    background-color: snow;
  }



  // React-burger-menu styles **************************************************/
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .hamburger {
    display: none;
  }

  .bm-burger-button {
    display: none;
  }

  .mobile-header {
    display: none;
  }

  .full-width-header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .logo-container {
    width: auto;
    padding-left: 2em;
    float: left;
    display: inline;
    height: 2.8em;
  }

  .menu-div {
    display: block;
    background-color: $secondary;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    height: 2.8em;
    padding: 0;
    line-height: 2.8em;

    hr {
      display: none;
    }
  }


  @mixin underline-link {
    a {
    position: relative;
    //display: inline-block;
    color: snow;
    font-family: 'Oswald', sans-serif;

    &:hover {
      text-decoration: none;
      color: #feca57;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #feca57;
      transform-origin: bottom center;
      transition: transform .25s ease-out;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom center;
    }

    }

  }

    .nav {
      float: right;

      li {
        display: inline;
        padding-right: 1.2em;
        @include underline-link;
      }
    }



}
