
$main: #48dbfb;
$secondary: #222f3e;


@media only screen and (min-width : 300px) {
  .header {
    width: 100%;
  }

  .mobile-header {
    display: block;
  }

  .logo-container {
    display: none;
  }

  .full-width-header {
    display: none;
  }

  .hamburger {
    position: absolute;
    z-index: 2;
    padding: 1em;
  }

  .menu-div {
    background-color: #013243;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 3em;
    height: 50vh;
  }


  .nav {
    list-style-type: none;
  }


  hr {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height:.5px;
    color: snow;
    background-color: snow;
  }

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .hamburger {
    display: none;
  }

  .mobile-header {
    display: none;
  }

  .full-width-header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .logo-container {
    width: auto;
    padding-left: 2em;
    float: left;
    display: inline;
    height: 2.8em;
  }

  .menu-div {
    display: block;
    background-color: $secondary;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    height: 2.8em;
    padding: 0;
    line-height: 2.8em;

    hr {
      display: none;
    }
  }

    .nav {
      float: right;

      li {
        display: inline;
        padding-right: 1.2em;
      }
    }



}
