
@media only screen and (min-width : 300px) {
  .info-section {
    padding-top: 10em;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    text-align: center;
  }

  .nodes {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    opacity: 0.1;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  h1 {
    //font-style: italic;
  }

  .my-image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  p {
    font-size: 1.3em;
    width: 100%;
    padding-top: 1em;
    line-height: 2;
    //font-weight: 500;
    text-align: left;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .info-section {
    padding-top: 10em;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15em;
    text-align: center;
  }



/*  .name-title {
    h1, h2 {
      display: inline-block;
      padding: 1em;
    }
  }
*/

  .me {
    width: 100%;
    height: auto;
  }

  .description {
    width: 50%;
    height: auto;
    margin: auto;
    //background-color: red;
    //padding: 1em;

    p {
      //width: 80%;
      margin: auto;
      //font-weight: bolder;
    }
  }
}
