
@media only screen and (min-width : 300px) {
  .info-section {
    padding-top: 5em;
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h1 {
    }

    h2 {
    }


  }
}
