
@media only screen and (min-width : 300px) {
  .info-section {
    padding-top: 10em;
    padding-bottom: 10em;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    text-align: center;
    //background-color: red;
  }


  h1 {
    //font-style: italic;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .my-image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  p {
    font-size: 1.3em;
    width: 100%;
    padding-top: 1em;
    line-height: 2;
    //font-weight: 500;
    text-align: left;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  h1 {
    width: 90%;
    margin: auto;
  }

  .description {
    width: 80%;
    margin: auto;
  }
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  h1 {
    width: 100%;
    margin: auto;
  }

  .description {
    width: 60%;
    margin: auto;
  }
}
