$main: #48dbfb;
$secondary: #222f3e;


.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #3F3F3F;//$secondary;
    width: 80%;
    margin: auto;
    height: 40em;
  }

  .modal-h2 {
    text-align: center;
    color: snow;
    padding: .5em;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #19B5FE;
    margin-top: 2em;

  }


  .modal-left {
    //background-color: red;
    width: 50%;
    float: left;
    height: 35em;

    img {
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }

  .modal-right {
    //background-color: pink;
    width: 50%;
    float: right;

    p {
      width: 80%;
      margin: auto;
    }

    a {
      width: 80%;
      margin: auto;
      display: block;
      text-align: center;
      margin-top: 3em;
    }

    button {
      margin: auto;
      display: block;
      margin-top: 5em;
    }
  }
